<h4> <%= link_to "Add New Branch", new_branch_path %></h4>
<table class="table">
 <tr>
  <td> Branch Name </td>
  <td> branch code </td>
  <td> Client Name </td>
 </tr>
<% @branches.each do |branch| %>
 <tr>
		<td><%= branch.name %></td>
		<td><%= branch.branch_code %></td>
		<td><%= branch.client.name %></td>
 </tr>
<% end %>
</table>

