
<div id="container-fluid" style="margin:25px;font-family:arial">
<h4> Following are steps to make customer </h4>
  <ul class="inline" style ="font-size:9px;color:blue">
   <li>go to -->  customers --> click add customer</li>
   <li> Fields with * are mendotatory</li>
   <li>3</li>
  </ul>

</div>
