<style>
 hr{width:auto;border:2px solid green;}
</style>

<div id="customers">
<%= render 'verification_ready_customers' %><hr>
</div>

<div id="co_applicants">
<%= render 'verification_ready_co_applicants' %><hr>
</div>

<div id="businesses">
<%= render 'verification_ready_businesses' %><hr>
</div>

<div id="co_applicant_businesses">
<%= render 'verification_ready_co_applicant_businesses' %><hr>
</div>
