
<table class="table table-striped">
  <% @submitted_co_applicants_businesses.each do |c| %>
 <tr><% if c && c.submitted? %>
  <td><strong><%= c.applicant_name %></strong>&nbsp;&nbsp;&nbsp;&nbsp;
     <% time1 = Time.now %> <% time2 = c.created_at %>
     <p>
      <small style ="color:silver;padding-left:10px;padding-right:10px;margin-left:20px;">
          <%= distance_of_time_in_words(time1, time2) %> ago <br>
          <%= c.address %>
      </small>
     </p>
  </td>
  <td><%= link_to "Verify",new_co_applicant_work_detail_path(:customer_co_applicant_id=>c.id, :tab_id=> current_user.tab.id), :class=>"label label-info" %></td>
    <% end %>
  <% end %></tr></table>


