<style>
 #status{float:right}

  pending{
           padding:4px;
           border:2px solid red;
           border-radius :3px;
           background:red;
            }
  in_progress{
           padding:4px;
           border:2px solid yellow;
           border-radius :3px;
           background:yellow;
            }

  complete{
           padding:4px;
           border:2px solid green;
           border-radius :5px;
           background:green;
           color:white;
            }


</style>
<div id="status">
 Pending </pending> &nbsp;&nbsp; <strong><%= @total_pending %></strong>  |
 in progress </in_progress> &nbsp;&nbsp; <strong><%= @total_in_progress %></strong> |
 Completed </complete> &nbsp;&nbsp; <strong><%= @total_completed %></strong>
</div>
