<style>
 #status{padding-left:15px;border:3px solid transparent;border-radius:3px;background:silver;float:right}

  pending{
           padding:14px;
           border:2px solid transparent;
           border-radius :3px;
           background:blue;
           color:white;
            }
  in_progress{
           padding:14px;
           border:2px solid yellow;
           border-radius :3px;
           background:yellow;
           color:black;
            }

  complete{
           padding:14px;
           border:2px solid green;
           border-radius :5px;
           background:green;
           color:white;
            }


</style>
<div id="status">
 <strong>Pending </strong> &nbsp;&nbsp; <pending><%= @total_pending %></pending> &nbsp;&nbsp;
 <strong>in progress </strong> &nbsp;&nbsp; <in_progress><%= @total_in_progress %></in_progress> &nbsp;&nbsp;
 <strong>Completed </strong> &nbsp;&nbsp; <complete><%= @total_completed %></complete>
</div>
