<h1>Headshot Demo</h1>

<%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

<%= headshot_camera %>

<br/>

<%= headshot_snap_button %> 

<% @head.each do |h| %>
	<%= image_tag h.image.url(:small) %><br>
<% end %>
