<div id="reports" style ="background:#fff;width:2800px;padding:0px;border-radius:5px;border:0px solid #000000;text-align:center">
<table class="table">
  <thead>
   <h3>  Residential </h3>
  <tr>
   <th> Customer name </th>
  </tr>
<tr>

<% Customer.where("created_at >= ? and created_at <= ?", @start_date, @end_date).each do |d| %>
  <tbody>
  <tr>
   <td style = "color:blue;text-align:left;padding-left:10px;"><b><%= d.applicant_name %></b></td>
  </tr>
  </tbody>
</table>
