<!DOCTYPE html>
<html>
  <head>
  <title> E verification </title>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
</head>

<body>
 <div id="hero-unit" style="margin:25px;">
	<%= yield %>
 </div>

</body>
