<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>e-verification</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application",'bootstrap-datepicker' %>
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
<style type="text/css">
	body {
    font-family: 'Varela', sans-serif;
		font-size:12px;
		padding-bottom: 40px;
    line-height: 25px;
		font-weight: bold;
	}
</style>
</head>

<body>
 <div id="hero-unit" style="margin:25px;">
	<%= yield %>
 </div>

</body>
