<!DOCTYPE html>
<html>
  <head>
  <title> Print Copy e-verification </title>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
</head>

<body>
<style type="text/css">
	body {
    font-family: 'Varela', sans-serif;
		font-size:10px;
		padding-top: 10px;
		padding-bottom: 40px;
    line-height: 25px;
    text-transform:uppercase;
		font-weight: bold;
	}
</style>
 <div id="hero-unit" style="margin:25px;">
	<%= yield %>
 </div>

</body>
